@model GuardiansApp.Models.ViewModels.AwsomeMixViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <title>Awsome Mix</title>
</head>
<body>
       
    <h1>Awsome Mix</h1>

    <button type="submit"><a href= "~/">HOME</a></button>

    <table>
        <tr>
            <th>Id</th>
            <th>Author</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Rating</th>

        </tr>

        @foreach (var item in Model.SongList.Songs)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Author</td>
                <td>@item.Title</td>
                <td>@item.Genre</td>
                <td>@item.Year</td>
                <td>@item.Rating</td>
                
            </tr>
        }

    </table>

</body>
</html>

<style>

    body{
        font-family: 'Montserrat', sans-serif;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    td{
        
        border: thin solid green;
        padding-left: 5px;
    }

    th{
        
        font-size:105%;
    }

    table{
        border-collapse: collapse;
        width: 100%;
    }

    .link{
        border: none;
    }

    button{
        border-radius: 5px;
    }

    input{
        border-radius: 5px;
    }

</style>
